.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #050505;
}

.main-content {
  display: flex;
  flex: 1;
}

.left-menu {
  width: 18%;
  background-color: #121212;
  padding: 20px;
  box-sizing: border-box;
}

.right-content {
  width: 81%;
  padding: 20px;
  box-sizing: border-box;
  border-left: 1px solid #605f5f;
}

.left-menu ul {
  list-style-type: none;
  padding: 0;
}

.left-menu li {
  margin-bottom: 10px;
}

.left-menu li a {
  color: #d1d1d1;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.left-menu li a:hover,
.left-menu li a.active {
  background-color: #333333;
  color: white;
}

.left-menu li a i {
  margin-right: 10px;
}

.left-menu li a .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}
